@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Arimo&family=Montserrat:wght@300;400;900&family=Poppins:wght@300&family=Ubuntu:wght@300;400&display=swap');
:root{
    --container-l-width:4.5em;
    --purple:#541690;
    --darkPurple:#293462;
    --bg-primary:#FF4949;
    --bg-secondary:#FFCD38;
}
@keyframes slidein {
    from {
        transform: translateX(-50px)
    }
    to {
        transform: translateX(0px)
    }
}

body{
    background-color:var(--bg-primary);
    font-family:'ubuntu' , sans-serif;
}
h1{
    font-size:2em;
}
h6{
    font-size:1em;
}
h6 a{
    color:var(--purple);
}
.my-navbar a {
    color:inherit !important;
    text-decoration:none !important;
}
.my-navbar{
    list-style-type:none;
    list-style:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:4em;
    padding:2em 0em;
    height:100%;
    width:100%;
}
.my-nav-item:last-child{
    margin-top: auto;
    margin-bottom:0.6em;
}
#arrow i{
    transform:rotate(-90deg);
    transition:transform 800ms ease-in-out;
}
.my-nav-item {
    width:100%;
    height:1px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.8em;
}
.my-nav-item a {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.8em;
    transition:color 300ms ease-in-out;
}
.my-nav-item a:hover{
    color:white !important;
}
.container-l{
    display:flex;
    justify-content:center;
    background-color:var(--purple);
    height:100%;
    position:fixed;
    width:var(--container-l-width);
    box-shadow: 6px -1px 6px 0px rgba(82,52,52,0.53);
    -webkit-box-shadow: 6px -1px 6px 0px rgba(82,52,52,0.53);
    -moz-box-shadow: 6px -1px 6px 0px rgba(82,52,52,0.53);
    z-index:1;
    transition: width 250ms ease-in-out;
}
.container-l span{
    font-size:1.25em;
    display:none;
}
.container{
    background-color:var(--bg-secondary);
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:#293462;
}
.container h1 , .container h2 {
    font-family:'Montserrat' , sans-serif;
    font-weight:900;
}
.main-container{
    height:100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content:center;
}
.login-register-box{
    background-color: var(--bg-secondary);
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    gap:8px;
    padding:2.7rem;
    border-radius:5px;
}
.login-register-box button{
    border-radius:10px;
    font-size:18px;

}
.login-register-box h1 {
    align-self:center;
}
.login-register-box .input-group {
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    padding:2px;
    height:2.5rem;
    width:auto;
}
.login-register-box .input-group input {
    background-color: rgba(255,255,255,0);
    height:auto;
    border:none;
}
.login-register-box .input-group input:focus {
    background-color: rgba(255,255,255,0);
    border:none;
    box-shadow:none;
}
.login-register-box .input-group span {
    background-color: rgba(255,255,255,0);
    font-size:1.125em;
    border:none;
}
.container-main{
    width:100%;
}
.container-r{
    width: calc(100% - var(--container-l-width));
    padding:1em;
    display:flex;
    flex-direction:column;
    position:absolute;
    left:var(--container-l-width);
    align-items:center;
}
.main{
    width:auto;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:var(--bg-secondary);
    border-radius:30px;
    padding:1em 4em;
    margin:6px;
}
.container-bottom{
    margin-top:1em;
    display:flex;
    flex-wrap:wrap;
    width:100%;
    padding:3em;
    position: relative;
}
.purple-text{
    color:#293462;
}
.purple-text h2 {
    font-size:20px;
    font-family:'Montserrat' , sans-serif;
    font-weight:900;
    color:#293462;;
}
.container-bottom > .flex-item {
    align-self:start;
}
.container-bottom-border {
    --width:80%;
    background:#FF8D29;
    position:absolute;
    width:var(--width);
    height:2px;
    top:0;
    left:10%;
    box-shadow: 6px -1px 6px 0px rgba(82,52,52,0.53);
    -webkit-box-shadow: 6px -1px 6px 0px rgba(82,52,52,0.53);
    -moz-box-shadow: 6px -1px 6px 0px rgba(82,52,52,0.53);
  }
.adding-spendings{
    margin:0.5rem;
    flex : 1 1 47%
}
.adding-spendings > form {
    display:flex;
    flex-direction:column;
    gap:3rem;
    padding:2rem;
    width:100%;
    height:100%;
}
.adding-value input{
    padding-left:10px;
    font-size: 20px;
    border: none ;
    background-color: rgba(0, 0, 0, 0) ;
    color: var(--purple);
    text-shadow: 0px 0px 0px rgba(66,66,66,.75);
    font-family:'ubuntu' , sans-serif;
    font-weight: 400;
    width:80%;
}
.adding-value span{
    font-family:'ubuntu';
    font-weight:400;
    font-size:1.25em;
    margin-right:6px;
}
.input-add-value{
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    padding:4px;
    height:2.5rem;
}
.adding-value{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:1em;
}
.adding-value label{
    font-family:'Montserrat';
    font-weight:900;
    font-size:20px;
}

input::placeholder {
    font-size:20px;
}

input:active {
    border:none;
    outline: none;
}
input:focus {
    border:none;
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type=radio] {
    border: 1px solid #fff;
    padding: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=radio]:checked {
  background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
  background-size: 9px 9px;
}

.form-check label{
    font-size:18px;
    font-family:'Ubuntu', sans-serif;
}

.category-select button{
    font-family:'ubuntu' , sans-serif;
    font-size:1.1em;
    color:var(--purple);
    border:2px solid var(--purple);
}
.category-select button:hover{
    background-color:var(--purple);
    border:2px solid var(--purple);
}
.add-cat{
    display:flex;
    gap:2em;
}
.add-cat input{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    background:#FFFFFF00;
    border:none;
    border-bottom:1px solid var(--purple);
    color:var(--purple);
}

.add-cat input::placeholder{
    font-size:20px;
}

#add-cat-btn{
    border-radius:50%;
}
#add-cat-btn:hover{
    color:white;
}

.stats{
    padding:2rem;
    margin:0.5rem;
    flex : 1 1 47%
}
#total{
    font-weight: bold;
}
@media only screen and (min-width:480px){
    .container-l:hover {
        width:9em;
    }
    .container-l:hover #arrow i {
        transform: rotate(810deg);
    }
    .container-l:hover span{
        display:block;
        animation: slidein 400ms ease-in-out;
    }
}   
@media only screen and (max-width:480px) {

    .container-l{
        height:var(--container-l-width);
        width:100%;
        bottom:0;
        flex-direction:row;
    }
    .container-l .my-navbar{
        flex-direction:row;
        justify-content:space-evenly;
    }
    .container-l .my-navbar .my-nav-item:first-child{
        display:none;
    }
    .container-r{
        width:100%;
        position:static;
        padding-left:0px;
        padding-right:0px;
        margin-bottom:var(--container-l-width);
    }
    .main{
        padding:1em 2.7em;
    }
    .container-bottom{
        padding:1em;
        justify-content:center;
    }
    input::placeholder{
        font-size:1em;
    }
    .adding-spendings > form {
        padding-left:0.5rem;
        padding-right:0.5rem;
    }
    .add-cat{
        gap:4px;
    }
    .login-register-box{
        padding-left:1rem;
        padding-right:1rem;
    }
    .main-container{
        padding:0.5rem;
    }
    .login-register-box .input-group span {
        font-size:1em;
    }

}

@media (max-width: 600px){
    .container-bottom{
        width:100%;
        border:none;
        padding-left:0px;
        padding-right:0px;
    }
}

@media (min-width:600px) and (max-width:1300px){
    .container-r{
        padding-left:0.5em;
        padding-right:0.5em;
    }
    .container-bottom{
        width:100%;
        padding-left:0px;
        padding-right:0px;
        gap:10px;
    }
}

